name: CI

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  checks: write
  actions: write

jobs:
  build-actions:
    name: Build Actions
    uses: ./.github/workflows/build-actions.yml

  lint:
    needs: [build-actions]
    uses: ./.github/workflows/verify-nix.yml
    with:
      command: "make lint"
      name: "Lint"

  typecheck:
    needs: [build-actions]
    uses: ./.github/workflows/verify-nix.yml
    with:
      command: "make tsc"
      name: "Type Check"

  test:
    needs: [build-actions]
    uses: ./.github/workflows/verify-test.yml

  build:
    needs: [build-actions]
    uses: ./.github/workflows/verify-nix.yml
    with:
      command: "bun run build"
      name: "Build"

concurrency:
  group: ci-code-${{ github.ref }}
  cancel-in-progress: true
