name: CI

on:
  pull_request:

permissions:
  contents: read
  checks: write

jobs:
  build-actions:
    name: Build Actions
    uses: ./.github/workflows/build-actions.yml

  lint:
    name: Lint
    needs: [build-actions]
    uses: ./.github/workflows/verify-nix.yml
    with:
      command: "make lint"
      name: "Lint"

  typecheck:
    name: Type Check
    needs: [build-actions]
    uses: ./.github/workflows/verify-nix.yml
    with:
      command: "make tsc"
      name: "Type Check"

  test:
    name: Tests
    needs: [build-actions]
    uses: ./.github/workflows/verify-test.yml

  build:
    name: Build
    needs: [build-actions]
    uses: ./.github/workflows/verify-nix.yml
    with:
      command: "bun run build"
      name: "Build"

concurrency:
  group: ci-code-${{ github.ref }}
  cancel-in-progress: true
